	<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<filter>
		<filter-name>login_filter</filter-name>
		<display-name>login_filter</display-name>
		<description></description>
		<filter-class>filters.login_filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/categories.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/skills.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/add_skill.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/contact_info.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/contact_us.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/education.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/about_me.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/user.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>login_filter</filter-name>
		<url-pattern>/admin/index.jsp</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<display-name>logout</display-name>
		<description></description>
		<servlet-class>servlet.logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>reset_password</servlet-name>
		<display-name>reset_password</display-name>
		<description></description>
		<servlet-class>servlet.reset_password</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SendMessage</servlet-name>
		<display-name>SendMessage</display-name>
		<description></description>
		<servlet-class>servlet.SendMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>reset_password</servlet-name>
		<url-pattern>/reset_password</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>welcome.jsp</welcome-file>
	</welcome-file-list>



</web-app>
